*.vs
*.svn
*.opendb
*.suo
*.sdf
Debug
Release
pbas_impl/Debug
pbas_impl/Release
*.vcxproj
*.filters
*.user
*.db
build

#===== CMake File======
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

tags
diplom
compile_commands.json
